//fonts

$main-font: "Source Code Pro";

//colors

$main-color: #ec992d;
$top-color: #367db8;
$buttons: #ffc0cb;
$button-color: #1ab9b1;
$highlight: #1a0b81;
$choices: #fff06a;
$white: #fff;
$black: #000;

//animations and stuff
