//fonts

$main-font: "Source Code Pro";
$second-font: "Recursive";

//colors

$background: lightgray;
$highlight: #1a0b81;

$text-white: #fff;
$text-lightgray: #d3d3d3;
$text-gray: #808080;
$text-darkgray: #a9a9a9;
$text-black: #000;

$btn-color: #264b55;

//animations and stuff
