@import "_variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  background-image: url("/src/img/question.jpg");
  background-repeat: none;
  background-size: cover;
}

.main {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  width: 50vw;
  height: 12vh;
  margin: 5vh auto;
  background-color: $top-color;
  opacity: 0.8;
  color: $white;
}

.main-title {
  text-align: center;
}

.final-title {
  text-align: center;
  display: none;
}

.main-center {
  border: 1px solid black;
  width: 50vw;
  height: 65vh;
  border-radius: 2rem;
  margin: auto;
  padding: 1.5rem;
  background-color: $main-color;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
}

.top80 {
  opacity: 0;
}

.choices-btn {
  display: inline-block;
  position: relative;
  margin: 10px 0 0;
}

.choice-a:hover,
.choice-b:hover,
.choice-c:hover,
.choice-d:hover {
  background-color: $choices;
}

.choice-a,
.choice-b,
.choice-c,
.choice-d {
  margin: 1rem auto;
  background-color: $white;
  opacity: 0.9;
  height: 2rem;
  border-radius: 10px;
  color: black;
  padding: 1rem 1rem;
}

.bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  vertical-align: baseline;
}

.exit-btn,
.next-btn {
  display: inline-flex;
  bottom: 30vh;
  background-color: $buttons;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: inherit;
}

.exit-btn:hover {
  background-color: $button-color;
  color: white;
  transform: scale(1.3);
}

.next-btn:hover {
  background-color: $button-color;
  color: white;
  transform: scale(1.3);
}
